/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scrollbar-thumb-color: hsl(218deg 13% 64%);
	--scrollbar-track-color: hsl(218deg 76% 15% / 8%);
	--text-box-top: 360px;
	--image-width: 1920px;
	--image-height: 1080px;
	--h2c-offset: 0; /* tbd */
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background-color: var(--scrollbar-thumb-color); }
::-webkit-scrollbar-track { background-color: var(--scrollbar-track-color); }

html {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

@media (min-width: 1920px) {
	body {
		@apply overflow-x-hidden;
	}
}

.freeze {
	@apply overflow-y-hidden;
}

dialog::backdrop {
	/* --s: 222px;
	--_g: #7f727b 10%, #d6b4c2 10.5% 19%, #0000 19.5% 80.5%, #d6b4c2 81% 89.5%, #baa0ab 90%;
	--_c: from -90deg at 37.5% 50%, #0000 75%;
	--_l1: linear-gradient(145deg, var(--_g));
	--_l2: linear-gradient(35deg, var(--_g));
	background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2), var(--_l2) calc(var(--s) / 2) var(--s),
		conic-gradient(var(--_c), #7f727b 0) calc(var(--s) / 8) 0,
		conic-gradient(var(--_c), #baa0ab 0) calc(var(--s) / 2) 0,
		linear-gradient(90deg, #baa0ab 38%, #7f727b 0 50%, #baa0ab 0 62%, #7f727b 0);
	background-size: var(--s) calc(2 * var(--s) / 3); */
}

.dialog {
	backdrop-filter: blur(40px);
	background: linear-gradient(
		113.11deg,
		hsla(0, 0%, 100%, 0.6) 0.6%,
		hsla(0, 0%, 100%, 0.8) 0.61%,
		hsla(0, 0%, 100%, 0.2) 99.61%
	);
	box-shadow: 0 0 60px hsl(0deg 0% 0% / 20%);
	outline: 2px solid hsl(0deg 0% 100% / 10%);
	outline-offset: -2px;
}

.dialog::backdrop {
	background: none;
}

.close-icon {
	@apply text-gray-800 bg-current relative rotate-45 w-0.5 h-3.5;

	&::after {
		@apply bg-current h-0.5 w-3.5 absolute top-1.5 -left-1.5;
		content: "";
	}
}

.image-dimensions {
	width: var(--image-width);
	height: var(--image-height);
}

.google-font {
	font-family: 'Source Sans Pro', sans-serif;
}

.h2c-offset {
	transform: translateY(var(--h2c-offset));
}
